# Dependencies
node_modules/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Logs
*.log

# Image backups
site/assets_backup_redbar/
site/assets_backup_refine/
site/assets_backup_1200/
